.navbar {
  background-color: rgba(52, 58, 64, 0.5);
}

.navbar:hover {
  background-color: #343a40;
}

.btn-default:hover {
  background-color: white;
  color: #343a40 !important;
}

#rsvp:hover {
  background-color: black;
  color: white !important;
}

#header {
  background: url(header.jpg);
  background-size: cover;
  background-position: center;
}

.jumbotron {
  margin: 0;
  border-radius: none;
  padding: 0;
}

.overlay {
  padding: 20% 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.info {
  background-color: #F2E1E1;
  padding: 5%;
}

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.4) 1px 3px;
}

.info h2 {
  margin: 0 0 5% 0;
}

.info img {
  width: 100%;
  margin: 5% 0;
}

#info p {
  margin: 5%;
  margin-top: 0;
}

#wedding-details {
  background-color: #000;
  color: white;
}

#wedding-details:hover {
  background-color: #fff;
}

#flowers {
  background: url(flowers.jpg);
  background-size: cover;
  background-position: center;
}

#div-rsvp {
  background-color: #FFDDDD;
  padding: 5% 0;
}

#div-rsvp p {
  font-size: 130%;
}

#rsvpModalLabel {
  margin: 0 auto;
  text-align: center;
}

#btn-rsvp {
  background-color: #f44336;
  color: white;
}

#btn-rsvp:hover {
  background-color: #CCCCCC;
  color: black;
}