.navbar {
  background-color: rgba(52, 58, 64, 0.5);
}

.navbar:hover {
  background-color: #343a40;
}

.btn-default:hover {
  background-color: white;
  color: #343a40 !important;
}

#rsvp:hover {
  background-color: black;
  color: white !important;
}

#header {
  background: url(header.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0px;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 3px;
  padding: 0;
}

.overlay {
  padding: 20% 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}